#airlineMenu, #adminMenu {
	list-style: none;
	background-color: powderblue;
	position: relative;
	padding: 0px;
}

#airlineMenu, #adminMenu li {
	font-weight: bold;
	margin: 20px 10px;
	padding: 10px;
	align-content: center;
	justify-content: center;
}

#displayFlights {
	margin: 20px 10px;
	width: 100%;
}

#flight_table, #stats_table{
	border: 2px solid black;
	width: 90%;
	border-collapse: collapse;
}

#flight_table,#stats_table td,th{
	width: auto;
	padding: 5px;
	height: 20px;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}